legacy-peer-deps = true
registry = https://nexus.scf-centendashboardpro01-391a523e0203d3683790f242c9079785-0000.eu-gb.containers.appdomain.cloud/repository/npm-group/
init.author.name = Sergio Alvarez
init.author.email = sergioalvarez@kpmg.es
init.author.url = http://kpmg.es
email=sergioalvarez@kpmg.es
always-auth = true
ZnJvbnQ6Q2VudGVuMTIz
